{%- assign authors = "" | split: "," -%}
{%- for ident in include.githubs -%}
  {%- assign temp = site.data.contrib | where: "github", ident | first -%}
  {%- capture name -%}<a href="https://github.com/{{ temp.github }}">{{ temp.personal }} {{ temp.family }}</a>{%- endcapture -%}
  {%- assign authors = authors | push: name -%}
{%- endfor -%}
{%- capture result -%}
  {%- if authors.size == 1 -%}
    {{ authors[0] }}
  {%- elsif authors.size == 2 -%}
    {{ authors[0] }} and {{ authors[1] }}
  {%- else -%}
    {%- for a in authors -%}
      {%- if forloop.first -%}{{ a }}{%- elsif forloop.last -%}, and {{ a }}{%- else -%}, {{ a }}{%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endcapture -%}
{{ result }}
